/*------------------以下为顶部样式部分----------------*/
body {
    height: 2000px;
    background-color: #f1f2f3;
}

/*导航栏固定定位*/
#header-1 {
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 996;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

/*头部布局*/
#header-1 #header {
    width: 1200px;
    height: 64px;
    background-color: #ffffff;
    margin: 0 auto;
}

/*logo配图*/
#header-1 #header #logo {
    width: 80px;
    height: 64px;
    display: block;
    background: url("../img/index/logo.png") 0 12px no-repeat;
    text-indent: -9999px;
    float: left;
}

/*分类导航外框*/
#header-1 #header #head-nav-1 {
    margin-left: 20px;
    width: 57px;
    height: 26px;
    border: 1px solid #e1e1e1;
    float: left;
    line-height: 26px;
    font-size: 14px;
    color: #666666;
    padding-left: 11px;
    margin-top: 18px;
    border-radius: 2px;
}

/*改变鼠标时移入的指针*/
#header-1 #header #head-nav-1:hover {
    cursor: pointer;
}

/*分类导航翻转箭头*/
#header #head-nav-1 i {
    width: 8px;
    height: 8px;
    background-color: lightgrey;
    display: inline-block;
    margin-left: 6px;
}

/*头部搜索框*/
#search {
    width: 366px;
    height: 32px;
    float: left;
    margin-left: 52px;
    margin-top: 16px;
    /*border: 1px solid #c5c5c5;*/
}

#search form {
    width: 366px;
    height: 30px;
    position: relative;
}

#search form #kw {
    width: 362px;
    height: 28px;
    padding-left: 4px;
    line-height: 21px;
    /*border-style: none;*/
    border: 1px solid #cccccc;
    /*此处去除输入框的立体效果，同时也去除了边框，通过外层的盒子添加边框，模仿此处的边框*/
    /*此处在行内样式中还写入了autocomplete= off 禁止浏览器记住搜索框中输入过的内容，防止数据泄露*/
    outline: none;
    /*去除选择的蓝框*/

}

/*搜索框的放大镜按钮*/
#search form #kp {
    width: 32px;
    height: 28px;
    border: none;
    position: absolute;
    right: -3px;
    top: 2px;
    background: url("../img/index/放大镜.png") no-repeat;
    /*button此处与前面的input框出现一个间隙，即使设置了间距也不能清除，原因是读取了中间的空格，html中需要相连*/
}

/*顶部右边部分*/
/*整体定位*/
#head-right {
    width: 440px;
    height: 28px;
    float: left;
    /*background-color: lightblue;*/
    margin-left: 170px;
    padding-top: 18px;
    padding-bottom: 18px;
}

/*分割线样式*/
#head-right .line {
    background-color: #ebebeb;
    width: 1px;
    height: 24px;
    float: left;
}

/*堆糖生活家*/
#head-right-life {
    margin-left: 26px;
    float: left;
    margin-bottom: 5px;
    line-height: 28px;
    cursor: pointer;
}

/*new标签*/
#head-right span {
    float: left;
    width: 28px;
    height: 16px;
    border-radius: 2px;
    background-color: #ff4466;
    font-size: 7px;
    text-align: center;
    color: #ffffff;
    display: block;
    margin-left: 4px;
    margin-top: 6px;
    margin-right: 25px;
}

/*注册*/
#head-right-register {
    width: 52px;
    height: 28px;
    background-color: #ff4466;
    font-size: 10px;
    color: #ffffff;
    line-height: 28px;
    float: left;
    margin-left: 25px;
    text-align: center;
    border-radius: 3px;
    margin-right: 25px;
    cursor: pointer;

}

/*登录*/
#head-right-login {
    width: 24px;
    height: 28px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 28px;
    float: left;
}

/*手机版*/
#head-right-phone {
    width: 110px;
    height: 28px;
    cursor: pointer;
    float: left;
}

#head-right-phone b {
    background: url("../img/index/iphone.png") no-repeat center;
    width: 11px;
    height: 19px;
    display: inline-block;
    margin-left: 29px;
    margin-top: 5px;
}

#head-right-phone i {
    margin-left: 5px;
    display: inline-block;
    margin-top: 7px;
    width: 38px;
    height: 14px;
    position: absolute;
}

/*------------------------以下为网站首页内容部分---------------------*/
/*内容部分定位样式*/
#context {
    width: 1200px;
    height: 3000px;
    margin: 104px auto 0;
    background-color: lightblue;
}

/*轮播图样式*/
#context-banner {
    width: 712px;
    height: 444px;
    float: left;
}

#context-box {
    width: 712px;
    height: 444px;
    position: relative;
    overflow: hidden;

}

.context-box-banner {
    height: 444px;
    position: absolute;
    left: 0;
    width: 710px;
}

.context-box-banner div {
    width: 712px;
    height: 444px;
    float: left;
    background-color: #ffffff;
}

/*轮播图中轮播点样式*/
#context-box ul {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 45px;
    right: 70px;
    z-index: 2;
}

#context-box li {
    float: left;
    margin-left: 9px;
    cursor: pointer;
}

/*标点点亮属性*/
#context-box li.on {
    width: 12px;
    height: 12px;
    background: url("../img/spring/spring-1.png") no-repeat -642px -244px;
}

/*非点亮属性*/
#context-box li.off {
    width: 10px;
    height: 10px;
    background: url("../img/spring/spring-1.png") no-repeat -622px -244px;
}

/*左右切换按钮样式*/
#context-box a {
    width: 28px;
    height: 40px;
    position: absolute;
    background: url("../img/spring/spring-1.png") no-repeat;
    top: 195px;
}

#context-box a.context-banner-left {
    left: 0;
    background-position: -542px -243px;
    display: none;
}

#context-box a.context-banner-right {
    right: 0;
    background-position: -582px -243px;
    display: none;
}

/*轮播图上覆盖框设置*/
#context-box-cover {
    width: 632px;
    height: 48px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 39px;
    bottom: 28px;
    padding-left: 17px;
    padding-top: 16px;
}

/*轮播图上覆盖框文字*/
#context-box-txt {
    font-size: 28px;
    color: #e3e5e8;
    position: absolute;
    margin-top: 365px;
    margin-left: -660px;
    z-index: 2;
}

/*轮播图部分尚存的问题有：点击左右按钮轮播图滞后停止，ajax数据显示的图片描述随图片移动，图片刷新延迟加载时会显示第二个描述框*/

/*以下为主页内容部分社区热点以及app下载链接*/
#context-hot-APP{
    width: 468px;
    background-color: #f1f2f3;
    float: right;

}
#context-hot{
    width: 404px;
    height: 289px;
    padding: 0 32px;
    background-color: #ffffff;
    border: 1px solid #dedfe0;
}
#context-hot h3{
    font-size: 16px;
    padding-top: 14px;
    color: #666666;
    height: 36px;
    line-height: 1.5;
    border-bottom: 1px solid #ebebeb;
}
#context-APP{
    width: 468px;
    height: 132px;
    margin-top: 20px;
    border: 1px solid #dedfe0;
    background: url("../img/index/APP.jpeg") no-repeat center;
}
#context-APP a{
    display: block;
    height: 100%;
    text-indent: -9999px;
    /*首行文本缩进*/
    /*a标签不设置背景，默认可显示下面内容*/
}